@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

/* Hero Component*/

.hero-bio {
  font-size: 1.15em;
}

/* ProjectsSection Component*/

.project-list {
  list-style: disc;
  list-style-position: inside;
}

.project-list::marker {
  color: rgb(211, 211, 211);
  font-size: 20px;
}

li {
  list-style-position: inside;
  text-indent: -1.7em;
}

/* BlogSection Component*/

.card-description {
  height: 50%;
}
